<ion-header class="ion-no-border" [translucent]="true">
    <ion-toolbar>
        <ion-title>
            <ion-icon (click)="goToHome()" class="forumicon" name="bug-outline"></ion-icon>
            <div (click)="goToHome()" class="title">STONKS</div>
        </ion-title>
        <ion-buttons slot="end">
            <ng-container *ngIf="isAuth == false">
                <ion-button routerLink="/login">
                    Sign in
                </ion-button>
                <ion-button routerLink="/signup" style="--ion-background-color:#fff;">
                    Sign up
                </ion-button>
            </ng-container>
            <ng-container *ngIf="isAuth == true">
                <ion-button (click)="presentPopover($event)" expand="block" fill="clear" shape="round">
                    <ion-icon name="person-sharp"></ion-icon>
                    <ion-icon name="chevron-down-outline"></ion-icon>
                </ion-button>
            </ng-container>
        </ion-buttons>
    </ion-toolbar>
</ion-header>