h4.regles {
    background-color: #dd4e35;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
}

#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}

ion-content {
    --ion-background-color: #f2f2f2;
}

ion-card {
    box-shadow: none;
    border: #bbbbbb solid 1px;
    margin: 0 0 0 10px;
    border-radius: 0;
    text-decoration: none;
}

ion-title {
    font-size: 17px;
}

.widget {
    float: left;
    width: 100%;
    background-color: #fff;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 2px #e4e4e4;
    -moz-box-shadow: 0px 2px #e4e4e4;
    -ms-box-shadow: 0px 2px #e4e4e4;
    -o-box-shadow: 0px 2px #e4e4e4;
    box-shadow: 0px 2px #e4e4e4;
    --ion-background-color: #fff;
}

.w-center {
    text-align: center;
}

p.crpost {
    padding: 0 0 5px 20px;
    font-size: medium;
}

ion-select::part(icon) {
    display: none !important;
}

ion-select {
    max-width: 100%;
}

.popover-content {
    left: 0 !important;
    width: 100%;
}

ion-button.postbtn {
    border: #3880ff 2px solid;
    font-weight: bold;
    border-radius: 5px;
}

ion-textarea {
    height: 150px;
    font-size: medium;
    border-radius: 5px;
    border: #bebebe 1px solid;
    padding-left: 5px;
}

ion-input {
    font-size: medium;
    border-radius: 5px;
    border: #bebebe 1px solid;
    padding-left: 5px;
}

ion-input.imgup {
    border: #bebebe 1px dashed;
}