<!-- <app-header></app-header> -->
<ion-header>
    <ion-toolbar>
    </ion-toolbar>
</ion-header>
<ion-content class="has-header">
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div class="backgrnd"></div>
                <div class="image">
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="7" offset="1" style="--ion-background-color: #fff;">
                <ion-grid fixed>
                    <ng-container *ngFor="let post of listPosts; let ind = index">
                        <ion-card>
                            <ion-grid fixed>
                                <ion-row>
                                    <ion-col size="1" class="likescase ion-text-center">
                                        <ion-icon name="heart-outline"></ion-icon>
                                        {{post.likes}}
                                        <hr>
                                        <ion-icon name="heart-dislike-outline"></ion-icon>
                                        {{post.dislikes}}
                                    </ion-col>
                                    <ion-col size="9">
                                        <div class="postedby">By you - {{post.date}}</div>
                                        <h6 class="topiclink" *ngIf="post.type == 0 || post.type == 1"><a [routerLink]="[ '/topic', post.topic.id]">t/{{post.topic.title}}</a></h6>
                                        <h6 class="topiclink" *ngIf="post.type == 2"><a [routerLink]="[ '/topic', post.topic.id]">ev/{{post.topic.title}}</a></h6>
                                        <h3 class="postlink"><a [routerLink]="[ '/post', post.id]">{{post.title}}</a></h3>
                                        <!-- <div class="postlink"><a [routerLink]="[ '/post', post.id]">{{post.title}}</a></div> -->
                                    </ion-col>
                                    <ion-col size="2" *ngIf="post.type == 2">
                                        <img class="thumbnail" src="../../../assets/event-invitation-redimg.jpg" />
                                    </ion-col>
                                    <ion-col size="2" *ngIf="post.type == 0">
                                        <img [attr.src]="getImageURL(ind)" alt="Not found" />
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-card>
                    </ng-container>
                </ion-grid>
            </ion-col>
            <ion-col size="3">
                <div class="widget">
                    <h4 class="profiler"></h4>
                    <ion-grid fixed>
                        <ion-row>
                            <ion-col size="4" class="ion-text-center">
                                <ion-avatar>
                                    <img class="img-avatar" src="../../assets/profile.jpg" />
                                </ion-avatar>
                                <div class="joined">
                                    <div class="jointext">Joined at</div>
                                    <div class="joindate">
                                        Feb '21
                                    </div>
                                </div>
                            </ion-col>
                            <ion-col size="8" class="ion-text-center">
                                <ion-button fill="clear" shape="round" style="color: #bb4e3b;">
                                    <ion-icon name="person-sharp" style="padding-right: 5px;"></ion-icon>Informations
                                </ion-button>
                                <p>{{username}}</p>
                                <p>{{email}}</p>

                            </ion-col>
                        </ion-row>
                    </ion-grid>

                    <hr>
                </div>
                <!-- <div class="widget w-center">
                    <h4 class="usertopics">Joined topics</h4>
                    <hr>
                    <ion-list>
                        <ion-item>
                            <ion-label>Awesome Label</ion-label>
                        </ion-item>
                    </ion-list>
                </div> -->
            </ion-col>

        </ion-row>
    </ion-grid>

</ion-content>